<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{feed} > 0">
    <f:then>
        <f:for each="{feed}" as="item" iteration="iterator">
            <div class="col">
                <div class="card h-100">
                    <f:for each="{item.link}" as="url">
                        <a href="{url.href}" class="stretched-link">
                    </f:for>
                    <img src="{ku:FeedImage(contentNode: item.content)}" loading="lazy" class="img-fluid card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text text-right"><small class="text-muted">
                                <f:format.date format="%d. %b %Y">{item.published}</f:format.date>
                            </small></p>
                        <h5 class="card-title">
                            <f:format.crop maxCharacters="60" respectWordBoundaries="true">{item.title}</f:format.crop>
                        </h5>
                        <p class="card-text">
                            <f:format.crop maxCharacters="58" respectWordBoundaries="true">{item.summary}</f:format.crop>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
        </f:for>
    </f:then>
</f:if>

</html>